// Import page-specific CSS files here.
// @import "home";

body {
  font-size: 12px;
  background-color: darkgray;
  color: black !important;
}

.msg {
  background-color: lightgray;
}

.msgdetail {
  background-color: white;
}
