<h1> "Open the following URL in another page and copy below the resulting code after authorization:<h1>
<a href="<%=@url%>">Clique aqui para autorizar o acesso a sua conta</a>

<form action="authorize">
  Código de autorização:<br>
  <input type="text" name="authcode" placeholder="Cole sua autorização aqui">
  <br><br>
  <input type="submit" value="Enviar">
</form> 
