<h1>Gmail</h1>
<%# List user's emails %>
    <% result = @service.list_user_messages @user_id %> 
    <p>Messages:</p>
    <p><%= No messages found if result.messages.empty? %>


<% @subject=[] %>
<% from=[] %>
<% @bg_color = 0 %>
    <% result.messages.each do |msg| %>
        <% my_msg = @service.get_user_message(@user_id, msg.id).as_json  %>
            <% my_msg['payload']['headers'].each_with_index do |obj, idx| %>
               <%@subject = obj['value'] if obj['name'] =="Subject" %>
               <%from = obj['value'] if obj['name'] =="From" %>
            <% end %>
                <% if @bg_color.odd? then %>
                        <div class="odd">
                <% else %>
                        <div class="even">
                <% end %>
                <p>From: <strong><%= "#{from}"%></strong><br>
                Subject: <%= link_to @subject, my_msg['id'] %></p>
                <p>Message: <%="#{my_msg['snippet']}" %></p>
                </div>
                <% @bg_color += 1 %>
    <% end %>
    